# 部分代码需在CUDA环境中运行，本项目所用CUDA版本为11.7
# 本项目部分代码运行在本机编号为0的GPU中，运行时请检查本机GPU版本与型号

autoviz==0.1.58
eli5==0.13.0
imbalanced_learn==0.9.1
imblearn==0.0
joblib==1.1.0
klib==1.0.5
lazypredict==0.2.12
lime==0.2.0.1
matplotlib==3.4.3
numpy==1.21.6
pandas==1.5.0
pydotplus==2.0.2
scikit_learn==1.1.3
scikit_optimize==0.9.0
scipy==1.7.3
seaborn==0.11.2
shap==0.40.0
statsmodels==0.13.2
taichi==1.1.2
